/*outside apperance*/
#lift{
	position: fixed;
	height: 100%;
	width: 100%;
}

#lift_front{
	position: fixed;
	width: calc(100% - 2*5%);
	height: calc(100% - 2*5%);
	top: 5%;
	left: 5%;
	overflow: hidden;
}
#lift_bar_top,#lift_bar_left,#lift_bar_right{
	position: absolute;
	z-index: 10;
	background:url(../img/noise.png), #576d7c;
}

#lift_bar_top{
	width: 100%;
	height: 10%;
}

#lift_bar_left,#lift_bar_right{
	width: 10%;
	height: calc(100% - 10%);
	top: 10%;
}
#lift_bar_right{
	right:0;
}
/*LIFT LEFT AND RIGHT DOOR*/
#lift_door_left,#lift_door_right{
	background:url(../img/noise.png), #576d7c;
	width: 50%;
	height: 100%;
	position: absolute;
	z-index: 5;
	transition: 1s;
}
#lift_door_left{
	left: 0;
}

#lift_door_right{
	right: 0;
}

/*none structure css*/
.border{
		border: outset   #35647c;
		box-sizing:border-box;
}


/*parts*/
#indicator{
	height: 1em;
	width: 10em;
	padding: .5em;
	margin: auto;
	background: rgb(12, 42, 61);
	text-align: center;
	text-transform: uppercase;
	color:red;
	letter-spacing: .5em;
	font: 1.2em 'Squada One', cursive; 
}

#panel{
	background: rgb(12, 42, 61);
	min-width: 32px;
	width: 80%;
	text-align: center;
	margin:6em auto;
	padding: 1em 0;
	box-sizing:border-box;
}